@import "tailwindcss";

:root {
  --background: #f4f7fb;
  --foreground: #0f172a;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: linear-gradient(
    to bottom,
    #dbeafe,
    #f8fafc
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}